<h3 class="text-center">
  {{ dataSource?.length == 1 ? "Selected Product" : "Selected Products" }}
</h3>

<div class="main-container">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.title }}</td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>Price(USD)</th>
      <td mat-cell *matCellDef="let element">{{ element.price | currency }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
<div class="total-calc-container">
  <ng-container *ngFor="let calculation of currencyTotal" class="total-calc">
    <label class="cost-label">
      Total Price in {{ calculation.name }}: {{ calculation.value }}</label
    >
  </ng-container>
</div>
